<%- include("partials/header.ejs") %> 

    <div class="main">
        <div class="topic-title">
            <form action="/addquestion" method="post">
                <button name="addq" value="<%= topicData.topicname %>" class="btn">Add</button>
            </form>
            <h2><%= _.upperCase(topicData.topicname) %> (<%= topicData.content.length%>)</h2>
            <form action="/removequestion" method="post">
                <button name="rqb" value="<%= topicData.topicname %>" class="btn">Remove</button>
            </form>
            </div>
        <table>
            <tr>
                <th style="width: 10%; border-radius: 30px 0px 0px 30px;">sl no</th>
                <th style="width: 80%;">q name</th>
                <th style="width: 10%; border-radius: 0px 30px 0px 30px;"><div style=" width: 400px; float: right; overflow: hidden;">link</div></th>
            </tr>
            <% topicData.content.forEach(function(item){ %>
                <tr>
                    <td style="border-radius: 30px 0px 0px 30px;"><%= i %><% i++ %></td>
                    <td><%= item.qname %></td>
                    <td style="border-radius: 0px 30px 0px 30px;"><div style="width: 400px; overflow: hidden; "><a href="<%= item.link %>"><%= item.link %></a></div></td>
                </tr>
            <%})%>
        </table>
    </div>


<%- include("partials/footer.ejs") %>