<%- include("partials/header.ejs") %> 


<div class="main">
    <form action="/logout" method="post" style="position: absolute; right: 0; top: 0; margin: 18px; background-color: transparent;">
        <button class="btn">Log Out</button>
    </form>
    <div class="menu topic-title">
        <form action="/addtopic" method="get">
            <button class="btn">ADD</button>
        </form>
        <h2><%= _.capitalize(nameOfUser) %>'s TOPIC NAMES</h2>
        <form action="/removetopic" method="get">
            <button class="btn">REMOVE</button>
        </form>
    </div>
    <div class="mid">
        <div class="left"></div>
        <div class="topic">
            <% topics.forEach(function(item){ %>

                <h3>
                    <form action="/topicwiselist/<%= (item.topicname) %>" method="get">
                        <button style="background-color: #3AAFA9;"><%= _.capitalize(item.topicname) %> (<%= item.content.length%>)</button>
                    </form>
                </h3>   

            <% }); %>
        </div>
        <div class="right"></div>
    </div>
    <div class="resources"></div>
</div>


<%- include("partials/footer.ejs") %>