<%- include("partials/header.ejs") %>


<div class="main">
    <div class="welcome-user">
        <div class="greet">Welcome <%= _.capitalize(nameOfUser) %></div>
        <div class="user-btns">
            <form action="/changepassword" method="post">
                <button class="btn">change password</button>
            </form>
            <form action="/logout" method="post">
                <button class="btn">Log Out</button>
            </form>
        </div>
    </div>
    <div class="topic-title">
        <h2>Topic names</h2>
    </div>
    <div class="userhome-mid">
        <div class="flash" style="left: 40%;">
            <%= message %>
        </div>
        <div class="left"></div>
        <div class="topiclist">
            <div class="topic-manage">
                <form action="/addtopic" method="get">
                    <button class="btn">Add</button>
                </form>
                <form action="/removetopic" method="get">
                    <button class="btn">Remove</button>
                </form>
            </div>
            <% topics.forEach(function(item){ %>
                    <form action="/topicwiselist/<%= (item.topicname) %>" method="get">
                        <button class"><%= _.capitalize(item.topicname) %> (<%= item.content.length%>)</button>
                    </form>
            <% }); %>
        </div>
        <div class="right">
        </div>
    </div>
    <div class="resources"></div>
</div>


<%- include("partials/footer.ejs") %>